* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100%; 
  width: 100%;
  background: #002339;

  .card {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: white;
      font-size: 3rem;
      font-weight: 600;

      span {
        color: rgb(0, 165, 0);
        font-weight: 400;
      }
    }

    
  }

  
}


.input-box {
    position: relative;
    width: 100%;
    max-width: 350px;
}

.input-box input {
    width: 100%;
    padding: 15px 40px 15px 12px; /* right side icon ke liye space */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(0, 165, 0);
    cursor: pointer;
}

.button{

    button{
        border: none;
        background: rgb(0, 165, 0);
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 5px;
        padding: 15px ;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

