* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .card {
    width: 100%;

    .card-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      height: auto;
      width: 50%;
      padding: 20px 0px;
      background-color: rgb(255, 251, 232);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        color: goldenrod;
        font-weight: 200;
      }

      p{
        color: gold;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid goldenrod;
          outline: none;
          border-radius: 8px;
        }

        button {
          width: 100%;
          padding: 10px;
          border-radius: 8px;
          border: none;
          background: gold;
          color: white;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
